<div class="container">
    <div class="col-sm-2" routerLink="/drag-reorder" routerLinkActive="['active']">
        <div>
            Drag-Reorder
        </div>
    </div>
    <div class="col-sm-2" routerLink="/drag-drop-sorted">
        <div>
            Drag-Drop-Sorted
        </div>
    </div>
    <div class="col-sm-2" routerLink="/drag-drop-ghost">
        <div>
            Drag-Drop-Ghost
        </div>
    </div>
    <div class="col-sm-2" routerLink="/click-drag-button">
        <div>
            Click-Drag-Button
        </div>
    </div>
    <div class="col-sm-2" routerLink="/test">
        <div>
            Test
        </div>
    </div>
</div>
<router-outlet></router-outlet>